.gif {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 30px;
  width: 60%;
  color: white;
  text-decoration: none;
}

.gif img {
  object-fit: contain;
}

i {
  font-size: 80px;
}